.jijie_wrap{
	width: 100%;
	height: 850px;
	background: #fff;
	position: relative;
}
.jijie_img{
	width: 1220px;
	height: 700px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*background: yellow;*/
}
.jijie_img li{
	width: 300px;
	height: 700px;
	overflow: hidden;
	float: left;
	text-align: center;
	color: white;
}
.jijie_img p{
	width: 400px;
	height: 100px;
	margin: 0 auto;
	display: none;
	font-size: 18px;
}
.jijie_img li h1{
	line-height: 200px;
}
.jijie_img_01{
	background: url(../img/img_jijie_03.jpg);
	
}
.jijie_img_02{
	background: url(../img/img_jijie_04.jpg);
}
.jijie_img_03{
	background: url(../img/img_jijie_02.jpg);
}
.jijie_img_04{
	background: url(../img/img_jijie_01.jpg);
}